<!DOC
<html>
	<head>
        <title>Standings</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <style>
            #standings
            {
                table-layout: fixed;
                width: 100%
            }
        </style>
    </head>

	<body>
		<div class="container">
            <br />
            
            <div class="row" style="margin: 10px;">
                <span>
                    <label>Country</label>
                </span>
                <span style="margin-left:auto; margin-right:0" class="col-sm-8" id="filterCountry">
                </span>
            </div>
            
            <div class="row" style="margin: 10px;">
                <span>
                    <label>City</label>
                </span>
                <span style="margin-left:auto; margin-right:0" class="col-sm-8" id="filterCity">
                </span>
            </div>
            
            <div class="row" style="margin: 10px;">
                <span>
                    <label>Organization</label>
                </span>
                <span style="margin-left:auto; margin-right:0" class="col-sm-8" id="filterOrganization">
                </span>
            </div>

            <br />
            
            <table data-page-length='200' id="standings" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Handle</th>
                        <th>Points</th>
                        <th data-filter="#filterCountry">Country</th>
                        <th data-filter="#filterCity">City</th>
                        <th data-filter="#filterOrganization">Organization</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Rank</th>
                        <th>Handle</th>
                        <th>Points</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Organization</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for data in standings %}
                        <tr>
                            <th>{{data.rank}}</th>
                            <th>{{data.handle}}</th>
                            <th>{{data.points}}</th>
                            <th>{{data.country}}</th>
                            <th>{{data.city}}</th>
                            <th>{{data.organization}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
		</div>
    </body>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#standings').DataTable( {
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select class="form-control"><option value=""></option></select>')
                            .appendTo( $($(column.header()).attr("data-filter")) )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
        
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
        
                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                },
                lengthMenu: [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                autoWidth: false,
                columnDefs: [
                    { width: 20, targets: 0 },
                    { width: 100, targets: 0 },
                    { width: 30, targets: 0 },
                    { width: 80, targets: 0 },
                    { width: 100, targets: 0 },
                    { width: 200, targets: 0 }
                ]
            } );
        } );
    </script>
</html>